@font-face {
  font-family: "ZaharovAE Pro";
  src: url("/vsepoint/fonts/ZaharovAEPro-Bold.eot");
  src: url("/vsepoint/fonts/ZaharovAEPro-Bold.eot?#iefix") format("embedded-opentype"),
        url("/vsepoint/fonts/ZaharovAEPro-Bold.woff2") format("woff2"),
        url("/vsepoint/fonts/ZaharovAEPro-Bold.woff") format("woff"),
        url("/vsepoint/fonts/ZaharovAEPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZaharovAE Pro";
  src: url("/vsepoint/fonts/ZaharovAEPro-Medium.eot");
  src: url("/vsepoint/fonts/ZaharovAEPro-Medium.eot?#iefix") format("embedded-opentype"),
        url("/vsepoint/fonts/ZaharovAEPro-Medium.woff2") format("woff2"),
        url("/vsepoint/fonts/ZaharovAEPro-Medium.woff") format("woff"),
        url("/vsepoint/fonts/ZaharovAEPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZaharovAE Pro Medium";
  src: url("/vsepoint/fonts/ZaharovAEPro-Medium.eot");
  src: url("/vsepoint/fonts/ZaharovAEPro-Medium.eot?#iefix") format("embedded-opentype"),
        url("/vsepoint/fonts/ZaharovAEPro-Medium.woff2") format("woff2"),
        url("/vsepoint/fonts/ZaharovAEPro-Medium.woff") format("woff"),
        url("/vsepoint/fonts/ZaharovAEPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZaharovAE Pro";
  src: url("/vsepoint/fonts/ZaharovAEPro-Regular.eot");
  src: url("/vsepoint/fonts/ZaharovAEPro-Regular.eot?#iefix") format("embedded-opentype"),
        url("/vsepoint/fonts/ZaharovAEPro-Regular.woff2") format("woff2"),
        url("/vsepoint/fonts/ZaharovAEPro-Regular.woff") format("woff"),
        url("/vsepoint/fonts/ZaharovAEPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}