ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  border: 0;
  outline: none;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "ZaharovAE Pro";
}

.wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wrapper__svg {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
}

.wrapper__svg>svg {
  max-height: calc(100vh - 100px);
  width: 100%;
  margin-top: 100px;
  z-index: 100;
}

#layer_1 {
  max-width: 1920px;
  width: 100%;
}

#r_b {
  right: 55px;
}

#l_b {
  left: 55px;
  position: absolute;
}

.page-arrow {
  z-index: 300;
}

.page-arrow>svg {
  fill: #fee414;
  width: 1.041vw;
  height: 1.041vw;
}

.page-arrow:hover>svg {
  fill: #fff;
}

.page-arrow {
  cursor: pointer;
  width: 1.825vw;
  height: 5.73125vw;
  position: absolute;
  border-radius: 50px;
  border: 2px solid #fee414;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.page-arrow:hover {
  background: #fee414;
}

.link-tip {
  position: absolute;
  white-space: nowrap;
  height: 34px;
  line-height: 34px;
  display: flex;
  align-items: center;
  font-size: 19px;
  z-index: 600;
  text-align: left;
  background: #fffef4;
  padding: 0px 10px;
  padding-bottom: 5px;
  font-weight: 600;
  border: 1px solid #66580038;
  border-radius: 4px;
  color: #665800;
}

/* HEADER */

:root {
  --text_color: #dadada;
  --text_hover_color: #fff;
  --header_color: #fc1d00;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 400;
  font-size: 16px;
  background: var(--header_color);
  color: var(--text_color);
}

.header__top {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.header__bottom {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  font-size: 16px;
}

.header__bottom .header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__container {
  max-width: 1410px;
  margin: 0 auto;
  height: 100%;
}

.header__nav,
.header-nav {
  height: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header-nav__item {
  padding: 0 15px;
}

.header-nav__link,
.header-nav__link.link {
  display: flex;
  align-items: center;
  padding: 0;
}

.header-nav__icon {
  font-size: 19px;
  width: 16px;
  height: 19px;
  color: inherit;
  margin-right: 10px;
  transform: translate(0, -3px);
}

.header-nav__icon {
  fill: var(--text_color);
}

.header__bottom {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 170px;
  height: 49px;
  margin-right: 150px;
}

.header__logo img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.header__buttons {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
}

.header__mobile {
  display: none;
}

/* HEADER - end */

/* UI */

:root {
  --button_text_color: #e62f2e;
  --button_background_color: #fee731;
}

.link {
  transition: color .5s;
  padding: 10px 15px;
  display: inline-block;
}

.link svg {
  transition: fill .5s;
}

.link:hover {
  color: #fff;
}

.link:hover svg {
  fill: #fff;
}

.button {
  border: 1px solid var(--button_background_color);
  color: var(--button_text_color);
  background-color: var(--button_background_color);
  padding: 0px 12px 3px 12px;
  border-radius: 2px;
  line-height: 38px;
  min-height: 38px;
  font-size: 16px;
  display: inline-block;
  transition-property: color, background, border;
  transition-duration: .5s;
}

.button:hover,
.button--transparent {
  background-color: transparent;
  color: var(--button_background_color);
}

.button--transparent:hover {
  color: var(--button_text_color);
  background-color: var(--button_background_color);
}

.menu-button {
  width: 28px;
  height: 18px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0;
  outline: none;
}

.menu-button__item {
  background: var(--text_color);
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
}

.menu-button__item:first-child {
  top: 0;
}

.menu-button__item:nth-child(2) {
  transition-property: opacity;
  transition-duration: .5s;
  opacity: 1;
}

.menu-button__item:last-child {
  bottom: -1px;
}

.menu-button__item:first-child,
.menu-button__item:last-child {
  transition-property: transform, top, bottom;
  transition-duration: .5s;
}

.menu-button.__active .menu-button__item:first-child {
  transform: rotate(45deg);
  top: 8px;
}

.menu-button.__active .menu-button__item:nth-child(2) {
  opacity: 0;
}

.menu-button.__active .menu-button__item:last-child {
  transform: rotate(-45deg);
  bottom: 7px;
}

/* UI - end */

/* POPUP */

.popup {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  z-index: 500;
  transition-property: background;
  transition-duration: .5s;
}

.popup__body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 40px 15px 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: transform;
  transition-duration: .5s;
}

.popup__body img {
  cursor: default;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.popup__close {
  position: absolute;
  top: 5px;
  right: 0;
  width: 30px;
  height: 30px;
}

/* POPUP - end */

[class*="link"] {
  cursor: pointer;
}

@media (max-width: 1349px) {
  #r_b {
    right: 20px;
  }

  #l_b {
    left: 20px;
  }
}

@media (max-width: 1099px) {
  .header__logo {
    margin-right: 50px;
  }
}

@media (max-width: 992px) {
  .header__top,
  .header__bottom {
    display: none;
  }

  .header__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--header_color);
    height: 100%;
    padding: 0 10px;
    position: relative;
  }

  .header__mobile-button.__active+.header-menu {
    opacity: 1;
    visibility: visible;
    transition: opacity .5s;
  }

  .header-menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility 0s ease .5s;
    box-shadow: 0 0 3px 3px rgb(100 100 100 / 40%);
    position: absolute;
    top: 110%;
    left: 15px;
    background: #fff;
    color: #000;
    z-index: 400;
    overflow: auto;
    max-height: calc(100vh - 60px);
    font-size: 18px;
    margin-right: 10px;
  }

  .header-menu .link {
    color: #000;
  }

  .header-menu .link:hover {
    color: #e62f2e;
  }

  .header-menu__wrapper {
    padding: 8px 0;
  }

  .header-menu__block {
    padding: 10px 12px;
    font-size: 18px;
  }

  .header-menu__block:not(:last-child) {
    border-bottom: 1px solid #dadada;
  }

  .header-menu__block-title {
    margin-bottom: 10px;
  }

  .header-menu__profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-menu__profile-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 70px;
    border: 1px solid #e1e1e1;
    margin: 0 15px 0 0;
  }

  .header-menu__profile-logo svg {
    width: 132px;
    height: 59px;
    transform: scale(0.6);
  }

  .header-menu__profile-name-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }

  .header-menu__profile-name-link {
    color: #619f00;
    padding: 0;
  }

  .header-menu__profile-name-link:hover {
    color: #e62f2e;
  }

  .header-nav,
  .header__buttons {
    flex-direction: column;
    align-items: stretch;
  }

  .header-nav__item {
    padding: 3px 0;
  }

  .header-nav__icon {
    fill: #000;
    transform: translate(0, -2px);
    flex: 0 0 17px;
  }

  .header-nav__icon--svg {
    flex: 0 0 21px;
  }

  .header-nav__link:hover {
    color: #dadada;
  }

  .header-nav__link:hover .header-nav__icon {
    fill: #e62f2e;
  }

  .header__button-item .header__button {
    padding-left: 0;
    padding-right: 0;
    border: 0;
    color: inherit;
    background: transparent;
    font-size: inherit;
  }

  .header__button-item .header__button:hover {
    background: transparent;
    color: #e62f2e;
  }

  .header-menu__exit-link {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 100%;
  }

  .header-menu__exit-link svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .header__mobile-logo {
    width: 155px;
    height: 41px;
  }

  .header__mobile-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .link-tip {
    white-space: normal;
    font-size: 16px;
    line-height: 1;
    padding: 5px;
    text-align: center;
    padding-bottom: 9px;
  }

  .wrapper__svg>svg {
    margin-top: 60px;
    max-height: calc(100vh - 50px);
  }
}

@media (max-width: 767px) {
  .page-arrow {
    width: 28px;
    height: 88px;
  }

  .page-arrow>svg {
    width: 17px;
    height: 17px;
  }
}

@media (max-width: 560px) {
  .wrapper__svg>svg {
    max-height: calc(100vh - 40px);
  }
}

@media (max-width: 545px) {
  .wrapper__svg>svg {
    align-self: flex-start;
  }
}

@media (max-width: 459px) {
  #r_b {
    right: 15px;
  }

  #l_b {
    left: 15px;
  }
}

@media (max-width: 389px) {
  .header-menu__profile {
    flex-wrap: wrap;
  }

  .header-menu__profile-logo {
    margin-bottom: 5px;
  }
}